.logo{
    height: 10%;
    width: 100%;
    margin-top: 10%;
}
.form{
    height: 50%;
    width: 90%;
    margin-top: 10%;
}
.img{
    height: 80%;
    width: 10%;
    margin-left: 10px;
    background-image: url("../assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}